canvas {
    width: 100%;
    height: 100%;
    display: block; 
    background-color: rgb(252, 113, 0);
}

@media (max-width: 900px) {
    canvas {
        width: 100%;
        height: 100%;
    }
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
