canvas{
    width: 100%;
    height: 100%;
    background-color: rgb(252, 113, 0);
}
@media (max-width: 900px){
    canvas{
        width: 900px;
        height:1800px;
    background-color: rgb(252, 113, 0);
}

}
